---
pagination:
  data: data
  size: 1
  alias: card
permalink: "/køb/{{ card.id }}/"
layout: layout.njk
title: "Køb klistermærke {{ card.id }} - iå.dk"
description: "Køb klistermærke nr {{ card.id }} - Håndlavet klistermærke af høj kvalitet med metalisk glitter blæk."
backLink: true
---

<div class="buy-page">
      <div class="buy-card">
        <img height="250" fetchpriority="high" src="/public/{{ card.id }}.webp" alt="klistermærke nr {{ card.id }}"/>
        <div class="card-details">
          <h3 class="b">
            <b>{{ card.price }} kr</b>
            <a href="https://buymeacoffee.com/iadk" target="_blank" rel="noopener noreferrer" class="a">
              → betal her
            </a>
          </h3>
          <form name="addresse" netlify>
            <p>
              <label>vej og vejnummer: <input required placeholder="skriv her" type="text" name="vej-og-nummer"/></label>
            </p>
            <p>
              <label>andre kommentare: <input placeholder="skriv her" type="text" name="kommentar"/></label>
            </p>
            <p>
              <button type="submit" class="buy-button">
                bestil nu {% include "button.njk" %}
              </button>
            </p>
          </form>
          <ul>
            <li>
              halvdelen af prisen går direkte til
              <span class="a">kunstneren.</span>
            </li>
            <li>
              håndlavet med
              <span class="a">glitrende sort</span>
              og
              <span class="b">metallisk blå/pink</span>
              blæk.
            </li>
            <li>dit data bliver slettet lige når den er leveret.</li>
          </ul>
        </div>
      </div>
    </div>