---
pagination:
  data: data
  size: 1
  alias: card
permalink: "/køb/{{ card.id }}/"
layout: false
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/public/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Køb klistermærke nr {{
        card.id
      }} - Håndlavet klistermærke af høj kvalitet med metalisk glitter blæk."
    />
    <title>Køb klistermærke {{ card.id }} - iå.dk</title>
  </head>
  <body>
    <header>
      <h1>iå.dk</h1>
        <p>
        <a href="/">← tilbage</a>
      </p>
    </header>
    <div class="buy-page">
      <div class="buy-card">
        <img
        height="250"
          fetchpriority="high"
          src="/public/{{ card.id }}.webp"
          alt="klistermærke nr {{ card.id }}"
        />
        <div class="card-details">
          <h3 class="b">
            <b>{{ card.price }} kr</b>
          </h3>
          <ul>
            <li>
              halvdelen af prisen går direkte til
              <span class="a">kunstneren</span>
            </li>
            <li>
              håndlavet med <span class="a">glitrende</span> og
              <span class="b">metallisk</span> blæk af høj kvalitet
            </li>
            <li>dit data bliver slettet lige når den er leveret</li>
            <li class="a">kun i albertslund</li>
          </ul>
          <form name="addresse" action="/tak" netlify>
            <p>
              <label
                >vej og vejnummer:
                <input
                  required
                  placeholder="skriv her"
                  type="text"
                  name="vej-og-nummer"
              /></label>
            </p>
            <p>
              <label
                >andre kommentare:
                <input placeholder="skriv her" type="text" name="vej-og-nummer"
              /></label>
            </p>
            <p>
              <button type="submit" class="buy-button">
                bestil nu
                {% include "button.njk" %}
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
