---
permalink: "/tak-kunst/"
layout: layout.njk
title: "TakQ - iå.dk"
description: "Tak! Vi vender tilbage til dig hurtigst muligt."
backLink: true
---

<div class="buy-page">
  <div class="buy-card">
    <div class="card-details">
      <h2 class="a">✨ Tak! ✨</h2>
      <p style="font-size: 1.25rem; text-align: center;">
        vi har modtaget din besked!
      </p>
      <ul>
        <li>vi gennemgår din indsendelse og vender tilbage til dig hurtigst muligt</li>
        <li>hvis din kunst bliver udvalgt, får du <span class="a">halvdelen</span> af prisen når den sælges</li>
      </ul>
    </div>
  </div>
</div>
