<div class="card">
  <p class="id">{{ id }}</p>
  <img fetchpriority="high" src="/public/{{ id }}.webp" alt="nr {{ id }}" />
  <a href="/køb/{{ id }}/">
  <button>
    køb
    {% include "button.njk" %}
  </button>
  </a>
</div>
