<div class="card placeholder-card">
  <p class="id">???</p>
  <div class="placeholder-content">
    <p class="placeholder-text a">
      <b>DIN KUNST HER</b>
    </p>
    <p class="placeholder-subtext">
      få halvdelen af prisen når den sælges
    </p>
  </div>
  <a href="/indsend/">
  <button>
    indsend
    {% include "button.njk" %}
  </button>
  </a>
</div>
